[submodule "Roact"]
	path = Roact
	url = https://github.com/Roblox/Roact.git
[submodule "Rodux"]
	path = Rodux
	url = https://github.com/Roblox/Rodux.git
[submodule "RoactRodux"]
	path = RoactRodux
	url = https://github.com/Roblox/RoactRodux.git
